* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a{
    color: black;
    text-decoration: none;
    border: 2px solid #634a66;
}

.error{
    color: red;
}

.user-data{
    text-align: center;
    border: 2px solid #634a66;
}

.app-header {
    width: 100%;
    padding: 130px 0;
    background-color: #634a66;
}

.app-header h1 {
    text-align: center;
    text-transform: uppercase
}

.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (min-width: 600px) {
    .app-container {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 100px
    }
}

.container-box {
    width: 100%;
    margin: 15px
}

@media screen and (min-width: 600px) {
    .container-box {
        width: 25%
    }
}

.content {
    width: 100%;
    min-height: 20%;
    padding: 0 15px;
    border: 2px solid #ccc;
}

.register, .register input{
    margin: 5px auto;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .content {
        width: 50%;
        padding: 15px 0
    }
}

.link-box {
    list-style: none
}

.link {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px
}

.link a {
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
    color: #000
}

.app-footer {
    position: static;
    width: 100%;
    padding: 40px 0;
    background-color: #634a66;
    text-align: center
}

@media screen and (min-width: 600px) {
    .app-footer {
        position: fixed;
        bottom: 0;
        left: 0
    }
}

.account{
    padding: 5px;
    text-align: center;
    border: 2px solid #ccc;
}

.aside-option{
    margin-top: 10px;
}

.flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

@media screen and (min-width: 600px) {
    .flex-wrapper {
        flex-wrap: nowrap;
    }
}

#personal-data{
    flex: 2;
}

#personal-data input[type=submit], .avatar input[type=submit]{
    display: block;
    margin: 5px auto;
}

.image-upload{
    flex: 1;
    margin: 0 10px;
}

.image-upload img:hover, .image-upload img:focus{
    cursor: pointer;
}

p.personal-key{
    padding-top: 10px;
    float: left;
    display: block;
}

p.personal-value{
    padding-top: 10px;
    padding-right: 20px;
    display: block;
    font-weight: bold;
    text-align: right;
}

#menu{
    text-align: center;
    padding: 10px;
    border: 2px solid #ccc;
}
.editor textarea{
    border: 3px solid #ccc;
    /*height: 80%;*/
    resize: none;
    margin: 10px auto;
}

#title{
    padding: 5px;
    text-align: center;
}

.editor input[type=text]{
    display: block;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    height: 7%;
    width: 95%;
    text-align: center;
}

.editor input[type=submit]{
    display: block;
    margin: 10px auto;
    width: 20%;
    height: 8%;
    font-size: 1em;
    font-weight: 600;
}

.editor h3{
    text-align: center;
    padding: 8px;
}

.link{
    padding: 3px;
    margin-top: 3px;
    font-size: 16px;
}

.info{
    color: red;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}

ul {
    list-style: none;
}

#page-list>li{
    padding: 5px;
    margin-top: 10px;
    background-color: #ccc;
}

textarea {
    resize: none;
}

.image-upload>input {
    display: none;
}

.color-form, .color-form input{
    display: block;
    margin: 10px auto;
}

.content-nav{
    border: 2px solid #ccc;
}

.content-nav > input{
    margin: 5px auto;
    display: block;
}

.account-navigation{
    border: 2px solid #ccc;
}

.remove-page > input{
    display: block;
    margin: 20px auto;
    padding: 6px;
}